body{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

p{
    font-size: 42px;
    font-weight: 500;
    margin: 10px;
}

.title{
    display: inline-block;
}

.upper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#dice-pic{
    width: 100px;
    height: 100px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.upper-image{
    width: 50px;
    height: 50px;
    padding: 20px;
}

.display{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.roll-button{
    margin-top: 20px;
    font-size: 24px;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    background-color: lightseagreen;
    color: white;
    cursor: pointer;
}

.roll-button:hover{
    filter: brightness(0.75);
}
.results{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result{
    background-color: rgb(162, 162, 162);
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px 30px;
    align-items: center;
    width: 600px;
    border-radius: 8px;
    justify-content: space-between;
    box-shadow: 2px 2px 5px 1px black;
}

.result p{
    font-size: 24px;
}

.result img{
    width: 30px;
    height: 30px;
}

.roll-animation{
    animation-name: roll;
}

@keyframes roll {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(720deg);
    }
}
